/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white : #f4f3f5;
    --box shadow: 0 0 10px rgba(0 0 0/15%);

}
html{
    font-size: 16px;
    -ms-overflow-style: scrollbar;
    -webkkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    --ms-text-size-adjust: 100%;

}
body{
    background-color: white;

}
.main{
    text-align: center;
    width: 85vw;
    background: #9e5858;
    box-shadow: 0 2px 6px 0 rgb(0);
}
.title p{
    list-transform: capitalize;

}
ul{
    list-style: none;
}
sup{
    position: absolute;
    top: 15%;
    background: #000;
    color: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    padding: .1rem;
}
.empty{
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 59%;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    background: var(--purple);
    color: var(--purple);
    border: 1px solid var(--purple);
}
.btn{
    
    
    background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        vertical-align: middle;
        position: relative;
       
    }
    button:hover {
        opacity: 0.8;
      }
  .form-control{
    text-align: center;
  }  
  .form-text{
    margin-top: auto;
  }

 .mb-3   {
    text-align: center;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
    
  */